{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-role">
    <div class="ec-eyecatchRole">
        <div class="ec-eyecatchRole__image">
            <img src="{{ asset('assets/img/header/tiramisu-5581806_1920.jpg',"user_data") }}" alt="画像" role="presentation"/>
        </div>
        <div class="ec-eyecatchRole__intro">
            <p class="ec-eyecatchRole__introEnTitle">{{ 'ごあいさつ'|trans }}</p>
            <p class="ec-eyecatchRole__introTitle">{{ 'こころやすらぐひとときを届けたい'|trans }}</p>
            <p class="ec-eyecatchRole__introDescription">{{ '当店では季節のフルーツや、新鮮な卵、小麦、乳製品の美味しさを十分に活かし、心を込めて丁寧にお菓子作りをしています。
ご来店してくださるお客様に、おいしいお菓子はもちろんのこと、ワクワクするような楽しい時間も提供できればと願っています。
'|trans|nl2br }}</p>
            <a class="ec-blockBtn--top" href="{{ url('product_list') }}">{{ '一覧を見る'|trans }}</a>
        </div>
    </div>
</div>